@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f3f2f7;
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../../public/fonts/montserrat/Montserrat-Regular.woff2")
      format("woff2"),
    url("../../public/fonts/montserrat/Montserrat-Regular.woff") format("woff"),
    url("../../public/fonts/montserrat/Montserrat-Regular.otf") format("otf"),
    url("../../public/fonts/montserrat/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../../public/fonts/montserrat/Montserrat-Medium.woff2")
      format("woff2"),
    url("../../public/fonts/montserrat/Montserrat-Medium.woff") format("woff"),
    url("../../public/fonts/montserrat/Montserrat-Medium.otf") format("otf"),
    url("../../public/fonts/montserrat/Montserrat-Medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../../public/fonts/montserrat/Montserrat-SemiBold.woff2")
      format("woff2"),
    url("../../public/fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("../../public/fonts/montserrat/Montserrat-SemiBold.otf") format("otf"),
    url("../../public/fonts/montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../../public/fonts/montserrat/Montserrat-Bold.woff2")
      format("woff2"),
    url("../../public/fonts/montserrat/Montserrat-Bold.woff") format("woff"),
    url("../../public/fonts/montserrat/Montserrat-Bold.otf") format("otf"),
    url("../../public/fonts/montserrat/Montserrat-Bold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("../../public/fonts/montserrat/Montserrat-ExtraBold.woff2")
      format("woff2"),
    url("../../public/fonts/montserrat/Montserrat-ExtraBold.woff")
      format("woff"),
    url("../../public/fonts/montserrat/Montserrat-ExtraBold.otf") format("otf"),
    url("../../public/fonts/montserrat/Montserrat-ExtraBold.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 1000;
  src: url("../../public/fonts/montserrat/Montserrat-Black.woff2")
      format("woff2"),
    url("../../public/fonts/montserrat/Montserrat-Black.woff") format("woff"),
    url("../../public/fonts/montserrat/Montserrat-Black.otf") format("otf"),
    url("../../public/fonts/montserrat/Montserrat-Black.ttf") format("ttf");
  font-display: swap;
}
