@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cygre";
  font-weight: 400;
  src: url("../public/fonts/Cygre/Cygre-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Cygre";
  src: url("../public/fonts/Cygre/Cygre-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Cygre";
  src: url("../public/fonts/Cygre/Cygre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cygre";
  src: url("../public/fonts/Cygre/Cygre-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Cygre";
  src: url("../public/fonts/Cygre/Cygre-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Cygre";
}
