DATABASE_URL="postgresql://postgres:password@postgres:port/registrymetrics?schema=public"
JWT_SECRET=EXAMPLE_JWT_SECRET

IMPORT_API_TOKEN=API_TOKEN

REDIS_HOST=localhost
REDIS_PASSWORD=password
REDIS_PORT=6380